/* clear default setting */
body,ul,ol,p,h1,h2,h3,h4{ padding:0; margin:0; font-family: "微软雅黑"}
a{ text-decoration: none; }
img{ border:none; }
/* clear float */
.clear:after{ content:""; display:block; clear:both; }
.clear{ zoom:1; }

/* setting background */
html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
body{
    background: url('../img/index_bg.jpg');
    background-size: 100% auto;

}

/* page container */
#container{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    position: relative;
}

#main_box{
    width: 1500px;
    height: 800px;
    background: rgba(0,0,0,0.6);
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: white;
    overflow: hidden;
}

/* left part */
#left_box{
    float: left;
    height: 100%;
    width: 750px;
    padding-left: 60px;
    /* background: rgba(0,0,0,0.3); */
}
#title{
    margin-top: 185px;
    font-size: 4rem;
}
#subtitle, #subtitle2{
    font-size: 1.5rem;
    font-weight: 100;
}
#subtitle{
    margin-bottom: 10px;
    margin-top: 20px;
}
#subtitle2{
    width: 687px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.icon-beaker::before{
    content: '\f68f';
    margin-right: 20px;
}
    /* slelec card */
#select_box{
    width: 680px;
    height: 210px;
}
.select_card{
    width: 220px;
    float: left;
    background: black;
    height: 100%;
    cursor: pointer;
    opacity: 0.6;
    border-radius: 10px;
}

#reservation, #my_reservation{
    margin-right: 10px;
}
.select_top{
    width: 100%;
    height: 160px;
}
.select_top img{
    display: block;
    height: 80%;
    margin: 0 auto;
    padding-top: 20px;
}
.select_bottom{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 5px;
}



/* right part */
#right_box{
    float: right;
    height: 100%;
    width: 690px;
    position: relative;
}
#university_logo{
    display: block;
    width: 500px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
